.surveyBtn {
    background-color: green;
    color: white;
    font-size: medium;
    width: 80px;
    height: 40px;
    border: 0px;
    border-radius: 10%;
}

.question {
    font-size: 20px;
    font-weight: bold;
}

input:checked + label {
    color: red;
    font-weight: bold;
}